.error, 
.confirm {
    color: #ff0000;
}

.success {
    color: #06b600
}

* {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    margin: 0;
}

#header,
#footer {
    background: #e2e2e2;
}

#nav {
    background: #f3cbff;
}

header,
nav,
main,
footer {
    max-width: 800px;
    margin: auto;
}

header,
footer {
    background: #ff8282;
}

/***** Header *****/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

#log-out-messages-and-profile-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

#messages-link {
    font-size: 1.8rem;
}
/***** Header *****/



/***** Nav *****/
nav {
    background: #d9ffc9;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/***** Nav *****/



/***** Main *****/
main {
    padding: 0 20px 20px 20px;
}
/***** Main *****/



/***** Home *****/
#home-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#home-form-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#home-form-filters-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/***** Home *****/



/***** Profile *****/
#profile-avatar-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#profile-tabs {
    display: flex;
    gap: 20px;
}

#profile-tabs > h2 {
    cursor: pointer;
}
/***** Profile *****/


#post-card,
#reply-card {
    display: grid;
    grid-template-columns: 75px auto;
}

#post-card-avatar,
#reply-card-avatar,
#post-card-body,
#reply-card-body-and-buttons {
    padding: 10px;
}

#post-card-avatar,
#reply-card-avatar {
    background: #ffe3e3;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}

#post-card-body,
#reply-card-body-and-buttons {
    border-radius: 0px 10px 10px 0px;
}

/***** Post Cards *****/
#post-cards {
    display: grid;
    gap: 20px;
}
/***** Post Cards *****/
/***** Post Card *****/
#post-card-body {
    background: #dfdfdf;
    display: grid;
    gap: 5px;
}

#post-card-title {
    font-size: 1.5rem;
}

#post-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#post-card-description {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
/***** Post Card *****/



/***** Post *****/
#post-avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#post-info {
    background: #e2e2e2;
    display: grid;
    gap: 10px;
}

#post-owner {
    display: flex;
    align-items: center;
    gap: 10px;
}

#post-body {
    display: grid;
    gap: 3px;
}

#post-description {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

#update-reply-success-message,
#update-reply-error-message,
#delete-reply-success-message,
#delete-reply-error-message {
    background: #f0f0f0;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    text-align: center;
    transform: translate(-50%, -50%)
}
/***** Post *****/



/***** Reply Cards *****/
#reply-cards {
    display: grid;
    gap: 20px;
}
/***** Reply Cards *****/
/***** Reply Card *****/
#reply-card-body-and-buttons {
    background: #e0e0e0;
    display: grid;
    gap: 5px;
}

#reply-card-body {
    display: grid;
    gap: 5px;
}

#reply-card-username-time-and-date {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#reply-card-time-and-date {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#reply-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#reply-card-title {
    font-size: 1.3rem;
}

#reply-card-reply {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

#reply-card-buttons {
    background: #e0e0e0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/***** Reply Card *****/



/***** Message Cards *****/
#message-cards {
    display: grid;
    gap: 20px;
}
/***** Message Cards *****/

/***** Message Card *****/
#message-card {
    background: #aeffa9;
}

#message-card img {
    width: 50px;
    height: 50px;
}
/***** Message Card *****/



/***** Direct Message *****/
#direct-message-form {
    position: sticky;
    bottom: 0px;
    display: grid;
    grid-template-columns: auto 100px;
}

#direct-message-avatar {
    width: 100px;
    height: 100px;
}
/***** Direct Message *****/



/***** Direct Message Cards *****/
#direct-message-cards {
    display: grid;
    gap: 20px;
}
/***** Direct Message Cards *****/
/***** Direct Message Card *****/
#direct-message-card {
    display: grid;
}

.justify-content-left {
    justify-content: left;
}

.justify-content-right {
    justify-content: right;
}

#direct-message-card img {
    width: 30px;
    height: 30px;
}

#direct-message-card-message,
#direct-message-card-avatar-username-and-message {
    background: #ddffd6;
    padding: 20px;
}
/***** Direct Message Card *****/



/***** Create a Post *****/
.form-components {
    display: grid;
    gap: 15px;
}

#title {
    max-width: 500px;
    height: 50px;
}

#description {
    height: 250px;
}
/***** Create a Post *****/



/***** Components *****/
.component {
    display: grid;
    grid-template-columns: 100px auto;
}

.component-input-and-character-length {
    display: grid;
    gap: 3px;
}
/***** Components *****/



/***** Footer *****/

/***** Footer *****/



@media only screen and (min-width: 600px) {
    #title {
        height: initial;
    }

    #description {
        height: 100px;
    }
}