.error {
    color: #ff0000;
}

.success {
    color: #15ff00
}

* {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    margin: 0;
}

header,
footer {
    background: #a5a5a5;
}



/***** Header *****/
header {
    display: flex;
    justify-content: space-between;
}

#log-out-and-user-profile-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
/***** Header *****/



/***** Profile *****/
#profile-avatar-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
/***** Profile *****/



/***** Post Cards *****/
#post-cards {
    display: grid;
    gap: 20px;
}
/***** Post Cards *****/
/***** Post Card *****/
#post-card {
    background: #d1f6ff;
    display: grid;
    grid-template-columns: 75px auto;
}

#post-card-title {
    font-size: 1.5rem;
}

#post-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#post-card-owner {
    background: #d2ffce;
}
/***** Post Card *****/



/***** Post *****/
#post-avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
/***** Post *****/



/***** Reply Cards *****/
#reply-cards {
    display: grid;
    gap: 20px;
}
/***** Reply Cards *****/
/***** Reply Card *****/
#reply-card {
    background: #c1deff;
    display: grid;
    grid-template-columns: 75px auto;
}

#reply-card-owner {
    background: #dfffdc;
}

#reply-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
/***** Reply Card *****/