:root {
    --black: #000000;
    --grey: #a1a1a1;
    --white: #ffffff;
    --jet: #363537;
    --red: #ef2d56;
    --light-red: #fda0b4;
    --pumpkin: #ed7d3a;
    --pistachio: #8cd867;
    --emerald: #2FBF71;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    background: var(--red);
}

.error, 
.confirm {
    color: var(--red);
}

.success {
    color: var(--emerald)
}

img {
    width: 100%;
}

p {
    line-height: 1.5rem;
}

#header,
#footer {
    background: var(--red);
}

header,
main,
footer {
    max-width: 800px;
    margin: auto;
}

header a:link,
header a:visited,
header a:active,
footer a:link,
footer a:visited,
footer a:active {
    color: #ffffff;
}

label {
    font-weight: bold;
}

textarea,
input,
select,
button {
    padding: 8px;
}

#input-character-count {
    color: var(--grey);
    font-size: 0.9rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    background: var(--black);
    color: var(--white);
    border: 0;
    padding: 10px;
    font-weight: bold;
}

button:hover {
    background: var(--red);
}

#avatar-url-input {
    width: 100%;
}

/***** Header *****/
header {
    position: sticky;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}

#logo {
    font-size: 1.8rem;
}
/***** Header *****/



/***** Nav *****/
#show-nav-button {
    display: grid;
    gap: 7px;
    cursor: pointer;
}

#show-nav-button > div {
    background: var(--black);
    width: 30px;
    height: 3px;
}

#hide-nav-button {
    cursor: pointer;
    font-size: 3rem;
}

nav {
    background: var(--red);
    padding: 0px 20px 0px 20px;
    position: fixed;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    font-size: 1.5rem;
    gap: 10px;    
    transition: left 0.3s;
}

nav a:link,
nav a:visited,
nav a:active {
    color: #ffffff;
}

nav a:hover {
    color: var(--black);
}

nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#messages-link {
    font-size: 2.5rem;
}
/***** Nav *****/



/***** Main *****/
#main {
    background: #ffffff;
}

main {
    padding: 5px 20px 20px 20px;
}
/***** Main *****/



/***** Home *****/
#home-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 0px 20px 0px;
    align-items: center;
}

#home-form-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/***** Home *****/



/***** Profile *****/
#profile-avatar-and-username {
    display: grid;
    justify-items: center;
    padding: 20px 0px 0px 0px;
}

#profile-avatar-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}



#profile-info,
#profile-gender-and-avatar-input,
#profile-change-password,
#profile-info-and-buttons {
    display: grid;
    gap: 10px;
}

#profile-tabs {
    display: flex;
    gap: 20px;
}

#profile-tabs > h2 {
    cursor: pointer;
}
/***** Profile *****/


#post-card,
#reply-card {
    display: grid;
    grid-template-columns: 65px auto;
    border: 1px solid var(--red);
}

#post-card a:link,
#post-card a:visited,
#post-card a:active {
    color: var(--black);
}

#post-card a:hover {
    color: var(--red);
}

#post-card-avatar,
#reply-card-avatar,
#post-card-body,
#reply-card-body-and-buttons {
    padding: 10px;
}

#post-card-avatar,
#reply-card-avatar {
    background: var(--red);
    text-align: center;
}

#post-card img,
#reply-card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/***** Post Cards *****/
#post-cards {
    display: grid;
    gap: 20px;
}
/***** Post Cards *****/
/***** Post Card *****/
#post-card-body {
    background: #ffffff;
    display: grid;
    gap: 5px;
}

#post-card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#post-card-description {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
/***** Post Card *****/



/***** Post *****/
#post-avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#post-info {
    display: grid;
    gap: 10px;
}

#post-owner {
    display: flex;
    align-items: center;
    gap: 10px;
}

#post-owner-username {
    font-size: 1.5rem;
}

#post-body {
    display: grid;
    gap: 5px;
}

#post-description {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

#post form {
    display: grid;
    gap: 10px;
}

#post-reply-textarea-and-character-count {
    display: grid;
    gap: 3px;
}

#post-reply {
    height: 200px;
}

#delete-post-confirmation-message-and-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#update-reply-success-message,
#update-reply-error-message,
#delete-reply-success-message,
#delete-reply-error-message {
    background: #f0f0f0;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    text-align: center;
    transform: translate(-50%, -50%)
}
/***** Post *****/



/***** Reply Cards *****/
#reply-cards {
    display: grid;
    gap: 20px;
}
/***** Reply Cards *****/
/***** Reply Card *****/
#reply-card-body-and-buttons {
    display: grid;
    gap: 10px;
}

#reply-card-body {
    display: grid;
    gap: 10px;
}

#reply-card-username-time-and-date {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#reply-card-time-and-date {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: var(--grey);
}

#reply-card-title {
    font-size: 1.3rem;
    font-weight: bold;
}

#reply-card-title:link,
#reply-card-title:active,
#reply-card-title:visited {
    color: var(--black);
}

#reply-card-reply {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

#reply-card-buttons {
    background: #e0e0e0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#reply-card-edit-reply {
    height: 200px;
}

#reply-card-edit-reply-and-character-count {
    display: grid;
    gap: 5px;
}

#delete-reply-confirmation-message-and-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/***** Reply Card *****/



/***** Message Cards *****/
#message-cards {
    display: grid;
    gap: 20px;
}
/***** Message Cards *****/

/***** Message Card *****/
#message-card {
    background: #aeffa9;
}

#message-card img {
    width: 50px;
    height: 50px;
}
/***** Message Card *****/



/***** Direct Message *****/
#direct-message-form {
    position: sticky;
    bottom: 0px;
    display: grid;
    grid-template-columns: auto 100px;
}

#direct-message-avatar {
    width: 100px;
    height: 100px;
}
/***** Direct Message *****/



/***** Direct Message Cards *****/
#direct-message-cards {
    display: grid;
    gap: 20px;
}
/***** Direct Message Cards *****/
/***** Direct Message Card *****/
#direct-message-card {
    display: grid;
}

.justify-content-left {
    justify-content: left;
}

.justify-content-right {
    justify-content: right;
}

#direct-message-card img {
    width: 30px;
    height: 30px;
}

#direct-message-card-message,
#direct-message-card-avatar-username-and-message {
    background: #ddffd6;
    padding: 20px;
}

#direct-message-cards-and-form {
    display: grid;
    gap: 10px;
}
/***** Direct Message Card *****/



/***** Create a Post *****/
#create-a-post-form {
    display: grid;
    gap: 20px;
}

#create-a-post-form button {
    width: 100px;
}

#title {
    max-width: 500px;
    height: 50px;
}

#description {
    height: 250px;
}
/***** Create a Post *****/



/***** Components *****/
.post-components {
    display: grid;
    gap: 15px;
}

.component {
    display: grid;
    gap: 5px;
}

.component-input-and-character-length {
    display: grid;
    gap: 3px;
}
/***** Components *****/



/***** Footer *****/
footer {
    padding: 20px;
    display: grid;
    gap: 30px;
}

#footer-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    font-weight: bold;
}

#footer-links > div {
    display: grid;
    align-content: start;
    gap: 10px;
}

#copyright {
    color: var(--light-red);
    line-height: 1.5rem;
}
/***** Footer *****/



@media only screen and (min-width: 600px) {
    #show-nav-button {
        display: none;
    }

    #hide-nav-button {
        display: none;
    }

    nav {
        padding: initial;
        position: initial;
        top: initial;
        left: initial;
        width: initial;
        height: initial;
        flex-direction: row-reverse;
        align-items: center;
        font-size: 1rem;
        gap: 20px;
    }

    #messages-link {
        font-size: 1.8rem;
    }

    nav img {
        width: 30px;
        height: 30px;
    }

    #title {
        height: initial;
    }

    #description {
        height: 100px;
    }

    #post-reply {
        height: 100px;
    }

    #reply-card-edit-reply {
        height: 100px;
    }

    #footer-links {
        flex-direction: row;
        gap: 50px;
    }
}